# Ignore All Local Intermediate Mission Directory Folders
# These folders contain heavy intermediate step files (VCFs, indexes, etc.)
mission01/
mission02/
mission03/
mission04/
mission05/

# Ignore local data database, configs, and binary files
data/
snpEff.config
*.bin

# Global safety check for heavy visual reports and compressed files
*.html
*.json
*.zip
