# Ignore large raw sequencing data files (Mission 1)
*.fastq
*.fastq.gz
*.sra
SRR36640870/

# Ignore heavy visual reports and compressed results
*.html
*.json
*.zip

# Ignore Genome Reference & Mapping Indexes (Mission 2)
*.fna
*.fna.gz
*.mmi
*.sam

# Ignore Compressed & Sorted Alignment Files (Mission 3)
*.bam
*.bai
